@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 80, 90, 100;
  --background-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 80, 90, 100;
  --background-rgb: 18, 18, 18;
}
body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.75);
}

.modal-content {
  position: relative;
  max-width: 75%;
  max-height: 75%;
  overflow: hidden;
}

.modal-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

@supports (grid-area: auto) {
}
