.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-bottom: 2rem;
}

/* .dark header {
  color: antiquewhite;
} */

.header-sticky {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
}

.header-title {
  font-size: 1.5rem;
  margin-left: 0;
  font-weight: bold;
}

.nav {
  display: flex;
}

.nav-link {
  padding-left: 1rem;
  text-decoration: none;
  color: inherit;
}

.nav-link:last-child {
  margin-right: 5;
}
